<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="background-image">
        <img style="height: 800px; width: 1400px" src="./assets/gif2.gif">
    <div class="overlay-text">Welcome to MollyTube! 
        We invite you to delve into the essence of our platform, 
        reminiscent of the dynamic and multifaceted landscape of YouTube.  
        Our platform serves as a beacon for creativity, innovation, and connection. 
        Here, users from all walks of life converge to share their unique voices, 
        talents, and perspectives, contributing to a rich tapestry of videos that entertain, educate, and inspire. 
        Join us on this exciting journey as we continue to cultivate a space where creativity knows no bounds, 
        and where every video shared adds to the collective tapestry of human experience.</div>


</div>
</body>
</html>
