 .overlay{ 
    
    background-image : url('src/assets/bts2.jpg');
    background-size: cover; /* Cover entire area */
    background-position: center center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1; /* Ensure overlay is above song list */
    background-attachment: scroll;
    

}