

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">MollyTube✿</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor04">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" name="home" [routerLink]="['/home']" routerLinkActive="router-link-active">Home 
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/aboutus']" routerLinkActive="router-link-active">About Us ♪</a>
          </li>
<li class="nav-item">
  <a class="nav-link active" [routerLink]="['/search']" routerLinkActive="router-link-active">Search ⌕</a>
          </li>

      
      
      </ul>
      
    </div>
  </div>
</nav>